.center .avatar img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-top: 5%;
    object-position: 0 -8px;
}
body{
    background-image: url('vsj.jpg');
}