@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: cornsilk;
    z-index: 2;
}
.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('dots.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;

}
.toggle.active{
    background: url('delete.png');
    background-repeat: no-repeat;
    background-size: 30px;
}

.showcase video{
    position:absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 3.5em;
    font-weight: 800;
    line-height: 1em;
}
.text h3{
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
}
.text p{
    font: 1.1em;
    margin: 20px 0;
    max-width: 300px;
}
