
*{
    margin: 0; 
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.videocreds{
    right: 0;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.videocreds header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10; 
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('dots.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url('delete.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}
.videocreds video{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    object-fit: cover;
    height: 100%;
    opacity: 0.7;
}
